*~
Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
m4/Makefile
m4/Makefile.in
pluginconfig.h
pluginconfig.h.in
po/Makefile
po/Makefile.in
po/POTFILES
po/remove-potcdate.sed
autom4te.cache/*
config/*
src/.deps/*
src/.libs/*
src/*.lo
src/*.la
src/*.o
src/Makefile
src/Makefile.in
stamp-h1
test/.deps/*
test/Makefile
test/Makefile.in
test/*.o
test/sock_test
